name: release

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - metadata.json
      - .github
      - README.md

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: package and releases
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ignored="! -path $(pwd) "
          for i in $(cat .templateignore); do
              ignored+="! -name $i "
          done
          files=$(find $(pwd) -maxdepth 1 $ignored)
          mkdir kotlin_gradle
          cp -r $files ./kotlin_gradle
          zip -r kotlin_gradle.zip ./kotlin_gradle;
          openssl sha256 kotlin_gradle.zip | cut -d " " -f2 > kotlin_gradle.zip.sha256
          version=$(jq -r ".version" metadata.json)
          gh release create "v$version" kotlin_gradle.zip kotlin_gradle.zip.sha256 --title "v$version" --notes "Release v$version"
      - name: setup git
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - name: bump version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git clean -dfx
          version=$(jq -r ".version" metadata.json | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./g')
          echo $(jq -r ".version = \"$version\"" metadata.json) | jq . > new_metadata.json
          cat new_metadata.json > metadata.json
          git add metadata.json
          git commit -m "Bumped version to $version"
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git" master   
